In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("adult.data.csv")

In [5]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [29]:
# What is the average age of men?
average_age_men = df.loc[df.sex=="Male","age"].mean()
average_age_men

39.43354749885268

In [36]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = ((df.loc[df.education=="Bachelors"].shape[0])*100)/(df.shape[0])
percentage_bachelors

16.446055096587944

In [37]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]
lower_education =  df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

In [57]:
# percentage with salary >50K
higher_education_rich = higher_education.loc[higher_education["salary"] == ">50K"].shape[0]
higher_education_rich

3486

In [59]:
lower_education_rich = lower_education.loc[lower_education.salary == '>50K'].shape[0]
lower_education_rich

4355

In [61]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [69]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week']== min_work_hours]


rich_percentage = round(len(num_min_workers[num_min_workers.salary==">50K"])/len(num_min_workers)*100,1)

In [70]:
rich_percentage

10.0

In [71]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [75]:
df.loc[df.salary==">50K",'native-country'].max()

'Yugoslavia'

In [78]:
df.loc[df.salary==">50K",'native-country']

7        United-States
8        United-States
9        United-States
10       United-States
11               India
             ...
32539    United-States
32545    United-States
32554    United-States
32557    United-States
32560    United-States
Name: native-country, Length: 7841, dtype: object

In [77]:
df.loc[df.salary==">50K",'native-country'].count()

7841

In [81]:
country_cost= df["native-country"].value_counts()

In [82]:
country_rich_count = df[df.salary == ">50K"]['native-country'].value_counts()

In [84]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = (country_rich_count/country_cost*100).idxmax()
highest_earning_country_percentage = round((country_rich_count/country_cost*100).max(),1)

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
people_of_india = df[(df['native-country']=="India")&(df.salary==">50K")]
occupation_counts = people_of_india['occupation'].value_counts()
top_IN_occupation = occupation_counts.idmax()